{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>List Employees</h1>

<table class="table">
    {% if employees|length > 0 %}
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
        <th scope="col">Dependent Person(s)</th>
        <th scope="col">Use Car</th>
        <th scope="col">Salary</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ date('now').diff((date(employee.birthday))).format('%y') }}</td>
        <td>{{ employee.dependent_person }}</td>
        <td>{{ (employee.use_company_car ? 'Yes' : 'No') }}</td>
        <td>{{ employee.salary }}</td>
        <td><a href="/">View Payroll</a></td>
    </tr>
    {% endfor %}
    </tbody>
    {% else %}
    <tr><th>Not have data.</th></tr>
    {% endif %}
</table>
{% endblock %}